{% extends 'layout.html' %}
{% block body_content %}
    <form action='' method='POST' title='Activity'>
        Activity
        {{ form.hidden_tag() }}
        {{ form.activity_name }} <br>
        {% if form.activity_name.errors %}
            {% for error in form.activity_name.errors %}
                {{ error }}<br>
            {% endfor %}
        {% endif %}
        Additional equiptment?
        {{ form.hidden_tag() }}
        {{ form.additional_equiptment }} <br>
        {% if form.additional_equiptment.errors %}
            {% for error in form.additional_equiptment.errors %}
                {{ error }}<br>
            {% endfor %}
        {% endif %}
        {{ form.submit }}
    </form>
{% endblock body_content %}