{% extends 'layout.html' %}
{% block body_content %}
    <br>
    <br>
    <div>
        <u>LOCATIONS:</u>
        <br>
        {% for location in locations %}

            {{ location.county }},
            {{ location.town }},
            {{ location.postcode }}
            <form action='{{ url_for('updateloc', id=location.id) }}'>
                <input type=submit value="Edit">
            </form>
            <form action='{{ url_for('deleteloc', id=location.id) }}'>
                <input type=submit value="Remove">
            </form>
            <br>
        {% endfor %}
        <br>
        <u>ACTIVITIES:</u>
        <br>
        {% for activity in activities %}

            {{ activity.activity_name }},
            {{ activity.additional_equiptment }}
            <form action='{{ url_for('updateact', id=activity.id) }}'>
                <input type=submit value="Edit">
                </form>
                <form action='{{ url_for('deleteact', id=activity.id) }}'>
                <input type=submit value="Remove">
                </form>
                <br>
        {% endfor %}
    <div>
{% endblock body_content %}
