{% extends 'layout.html' %}
{% block body_content %}
    <br>
    <br>
    <div>
        <u>Walls:</u>
        <br>
        {% for location in locations %}
            <b>{{location.wall_name}}</b>,
            {{ location.town }},
            {{ location.postcode }}
            <form action='{{ url_for('updateloc', idnum=location.id) }}'>
                <input type=submit value="Edit">
            </form>
            <form action='{{ url_for('deleteloc', idnum=location.id) }}'>
                <input type=submit value="Remove">
            </form>
            <form action='{{ url_for('add1', idnum=location.id) }}'>
            <input type=submit value="Add activity">
            </form>
            <form action='{{ url_for('viewactivity', idnum=location.id) }}'>
            <input type=submit value="View activities">
            </form>
            <br>
        {% endfor %}
    <div>
{% endblock body_content %}
