{% extends 'layout.html' %}
{% block body_content %}
    <br>
    <br>
    <div>
        LOCATIONS
        {% for location in locations %}

            {{ location.county }},
            {{ location.town }},
            {{ location.postcode }}
            <form action='{{ url_for('update', id=location.id) }}'>
                <input type=submit value="Edit">
            </form>
            <form action='{{ url_for('delete', id=location.id) }}'>
                <input type=submit value="Remove">
            </form>
            <br>
        {% endfor %}
        <br>
        ACTIVITIES
        {% for activity in activities %}

            {{ activity.activity_name }},
            {{ activity.additional_equiptment }}
            <form action='{{ url_for('update', id=activity.id) }}'>
                <input type=submit value="Edit">
                </form>
                <form action='{{ url_for('delete', id=activity.id) }}'>
                <input type=submit value="Remove">
                </form>
                <br>
        {% endfor %}
    <div>
{% endblock body_content %}
