<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wall list</title>
</head>
<body>
    <h1>Wall:</h1>
    <a href="{{ url_for('index') }}">Home for all your walls/locations/activities</a>
    <br>
    <br>
    <a href="{{ url_for('addloc') }}">Add a new location</a>
    <br>
    <a href="{{ url_for('addact') }}">Add a new activity</a>
    <br>
    {% block body_content %}
    {% endblock body_content %}
</body>
</html>
