{% extends 'layout.html' %}
{% block body_content %}
<p> <b>{{ locations.wall_name }}</b> &nbsp; {{ locations.postcode }}</p>
{% for activity in activities %}
Activity: {{ activity.activity_name }}
<br> 
Additional equiptment required? {{ activity.additional_equiptment}}
<form action='{{ url_for('deleteact', idnum=activity.id) }}'>
<input type=submit value="Delete">
</form>
<form action='{{ url_for('updateact', idnum=activity.id) }}'>
<input type=submit value="Update Activity">
</form>
<br>
</p>
{% endfor %}
{% endblock body_content %}